* {
  font-family: 'Montserrat';
}

.landing-page html,
.landing-page body,
.landing-page div,
.landing-page span,
.landing-page applet,
.landing-page object,
.landing-page iframe,
.landing-page h1,
.landing-page h2,
.landing-page h3,
.landing-page h4,
.landing-page h5,
.landing-page h6,
.landing-page p,
.landing-page blockquote,
.landing-page pre,
.landing-page a,
.landing-page abbr,
.landing-page acronym,
.landing-page address,
.landing-page big,
.landing-page cite,
.landing-page code,
.landing-page del,
.landing-page dfn,
.landing-page em,
.landing-page img,
.landing-page ins,
.landing-page kbd,
.landing-page q,
.landing-page s,
.landing-page samp,
.landing-page small,
.landing-page strike,
.landing-page strong,
.landing-page sub,
.landing-page sup,
.landing-page tt,
.landing-page var,
.landing-page b,
.landing-page u,
.landing-page i,
.landing-page center,
.landing-page dl,
.landing-page dt,
.landing-page dd,
.landing-page ol,
.landing-page ul,
.landing-page li,
.landing-page fieldset,
.landing-page form,
.landing-page label,
.landing-page legend,
.landing-page table,
.landing-page caption,
.landing-page tbody,
.landing-page tfoot,
.landing-page thead,
.landing-page tr,
.landing-page th,
.landing-page td,
.landing-page article,
.landing-page aside,
.landing-page canvas,
.landing-page details,
.landing-page embed,
.landing-page figure,
.landing-page figcaption,
.landing-page footer,
.landing-page header,
.landing-page hgroup,
.landing-page menu,
.landing-page nav,
.landing-page output,
.landing-page ruby,
.landing-page section,
.landing-page summary,
.landing-page time,
.landing-page mark,
.landing-page audio,
.landing-page video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
.landing-page article,
.landing-page aside,
.landing-page details,
.landing-page figcaption,
.landing-page figure,
.landing-page footer,
.landing-page header,
.landing-page hgroup,
.landing-page menu,
.landing-page nav,
.landing-page section {
  display: block;
}
.landing-page body {
  line-height: 1;
}
.landing-page ol,
.landing-page ul {
  list-style: none;
}
.landing-page blockquote,
.landing-page q {
  quotes: none;
}
.landing-page blockquote:before,
.landing-page blockquote:after,
.landing-page q:before,
.landing-page q:after {
  content: '';
  content: none;
}
.landing-page table {
  border-collapse: collapse;
  border-spacing: 0;
}
.landing-page * {
  box-sizing: border-box;
}
.landing-page body {
  max-width: 100%;
}
.landing-page html {
  font-size: 62.5%;
}
.landing-page html,
body {
  font-family: 'Lato', sans-serif;
}
.landing-page h1,
.landing-page h2,
.landing-page h3,
.landing-page h4,
.landing-page h5 {
  font-family: 'Lato', sans-serif;
}
.landing-page h1 {
  font-size: 2.8rem;
  font-family: 'Lato', sans-serif;
  letter-spacing: 0.2rem;
  text-align: center;
}
.landing-page h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
.landing-page h3 {
  font-size: 2rem;
}
.landing-page h4 {
  font-size: 1.7rem;
  padding-bottom: 10px;
}
.landing-page p {
  line-height: 1.5;
  font-size: 1.8rem;
  padding-bottom: 10px;
}
.landing-page img {
  width: inherit;
  height: inherit;
}
.landing-page .container {
  width: 100%;
  margin: 0 auto;
}
.landing-page span {
  font-size: 1.6rem;
}
.landing-page address {
  font-size: 1.4rem;
}
.landing-page a {
  font-size: 1.4rem;
}
.landing-page body {
  max-width: 649px;
  background-color: #e8eef4;
  display: flex;
  flex-direction: column;
  background-size: cover;
}
.landing-page .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.landing-page .content .header {
  /* background-image: url('https://images.pexels.com/photos/262524/pexels-photo-262524.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'); */
  /* background-image: url('https://images.pexels.com/photos/186076/pexels-photo-186076.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260'); */
  /* background-image: url('https://images.pexels.com/photos/1349339/pexels-photo-1349339.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260'); */
  background-position: center;
  background-image: url(../Images/sports-banner.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 64px;
  width: 100%;
}
.landing-page .content .header .header-content {
  text-align: center;
  /* margin-top: 3%; */
  background-color: rgba(43, 43, 43, 0.522);
  margin-top: 8%;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 10% 12%;
  padding: 100px 12%;
  margin: 0 auto;
  text-shadow: 1px 1px 2px black, 1px 0px 2px black, 0px 1px 2px black,
    0 0 8px #333;
}
.landing-page .content .header .links {
  float: right;
  padding-bottom: 3%;
  width: 55%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
}
.landing-page .content .header .links a {
  text-decoration: none;
  color: red;
  font-weight: 500;
}
.landing-page .content .header .links a:hover {
  text-decoration: underline;
}
.landing-page .content .header .header-content span {
  /* border-top: 3px solid rgba(255, 255, 255, 0.9); */
  /* border-bottom: 3px solid rgba(255, 255, 255, 0.9); */
  /* padding: 2% 0; */
}
.landing-page .content .header .header-content span h1 {
  /* border-top: 3px solid rgba(255, 255, 255, 0.9); */
  /* border-bottom: 3px solid rgba(255, 255, 255, 0.9); */
  color: rgb(255, 255, 255);
  font-weight: 200;
  margin-bottom: 100px;
  font-size: 4.5rem;
  /* padding: 6% 0; */
}
.landing-page .content .header .header-content p {
  color: rgb(255, 255, 255);
  /* padding-top: 3%; */
  width: 90%;
}
.landing-page .content .middle-content {
  /* margin: 0 4%; */
  /* margin-top: 10%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* padding-bottom: 3%; */
  background-color: white;
}

.landing-page .ctaBtn {
  background-color: #1565c0;
  padding: 18px 2.5%;
  margin-top: 80px;
  border-radius: 4px;
  width: 20%;
  min-width: 210px;
  color: white;
  transition: 0.3s;
  text-shadow: none;
}

.landing-page .ctaBtn:hover {
  background-color: #1e5594;
  text-shadow: none;
}

.landing-page .ctaBtn a {
  color: white;
  text-shadow: none;
}

.landing-page .features {
  /* border: 1px solid black; */
  margin: 150px 0;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: flex-start;
}

.landing-page .feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: flex-start;
  line-height: 1.75rem;
  font-size: 1.4rem;
  width: 25%;
  margin: 0 1.2%;
  text-align: center;
  color: #333;
  /* border: 1px solid red; */
  /* min-height: 100px; */
}

@media (max-width: 700px) {
  .landing-page .features {
    flex-direction: column;
    margin: 30px 0;
  }

  .landing-page .feature {
    width: 90%;
    margin: 20px auto;
    /* line-height: 2.75rem; */
    /* border: 1px solid black; */
  }
}

.landing-page .feature .number {
  color: #1565c0;
  margin-bottom: 14px;
}

.landing-page .screenshots {
  min-height: 500px;
  padding: 25px 0;
  background-color: #1565c0;
  margin-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.landing-page .screenshot1,
.landing-page .screenshot2 {
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 7px;
  /* background-color: #eee; */
  width: 98%;
  min-width: 500px;
  max-width: 720px;
  margin: 25px 1%;
  box-shadow: 0px 15px 5px -10px #222;
  height: 400px;
}

/* .landing-page .screenshot1 {
  background-image: url(../Images/Calendar.png);
  background-size: cover;
  background-repeat: no-repeat;
} */

.landing-page .content .middle-content .carousel {
  margin-top: 3%;
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 5%;
  padding: 3% 0;
}
.landing-page .content .middle-content .carousel .left-button {
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-right: 25px solid rgba(3, 3, 3, 0.6);
  border-bottom: 12px solid transparent;
  opacity: 0.3;
  float: left;
  align-self: center;
}
.landing-page .content .middle-content .carousel .left-button:hover {
  opacity: 0.8;
}
.landing-page .content .middle-content .carousel .right-button {
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-left: 25px solid rgba(3, 3, 3, 0.6);
  border-bottom: 12px solid transparent;
  opacity: 0.3;
  float: right;
  align-self: center;
}
.landing-page .content .middle-content .carousel .right-button:hover {
  opacity: 0.8;
}
.landing-page .content .middle-content .carousel .carousel-img {
  display: none;
  height: 30%;
  padding-right: 1%;
  padding-left: 1%;
}
.landing-page .content .middle-content .quote-area {
  padding: 2%;
  color: rgba(3, 3, 3, 0.6);
  text-align: center;
  font-size: 1.3rem;
}
.landing-page .content .middle-content .rm {
  width: 30%;
  height: 25%;
}
.landing-page .content .middle-content .rm button {
  width: 100%;
  background-color: transparent;
  color: rgba(3, 3, 3, 0.6);
  font-size: 1.4rem;
  padding: 4%;
}
.landing-page .content .middle-content .rm button:hover {
  background-color: rgba(3, 3, 3, 0.6);
  color: white;
}
.landing-page .content .middle-content .story-quote .quote {
  display: none;
}
.landing-page .content .user-input {
  padding-top: 3.5%;
  padding-bottom: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  width: 95%;
  background-color: white;
}
.landing-page .content .user-input h3 {
  color: rgba(3, 3, 3, 0.6);
  padding-bottom: 2%;
  width: 100%;
  text-align: center;
}
.landing-page .content .user-input .share {
  padding: 1%;
  width: 30%;
  background-color: transparent;
  color: rgba(3, 3, 3, 0.6);
  margin-bottom: 2%;
  box-shadow: none;
  font-size: 1.3rem;
}
.landing-page .content .user-input .share:hover {
  background-color: rgba(3, 3, 3, 0.6);
  color: white;
}
.landing-page .content .user-input #story {
  background-color: transparent;
  border: 0.5px solid rgba(255, 255, 255, 0.9);
  color: rgba(255, 255, 255, 0.9);
  width: 95%;
  margin-bottom: 3%;
  display: block;
}
.landing-page .content .user-input #input-form #submit {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.9);
  font-family: 'Lato', sans-serif;
  padding-top: 5%;
  padding-bottom: 5%;
  width: 7em;
  display: block;
}
.landing-page .content .user-input #input-form #submit:hover {
  background-color: rgba(255, 255, 255, 0.9);
}
.landing-page .content .user-input .story--open {
  display: block;
}
.landing-page .footer {
  font-weight: 200;
  background-color: #333;
  margin-top: 60px;
  color: white;
  /* border: 1px solid blue; */
  line-height: 1.3;
  width: 100%;
  padding-top: 25px;
  align-self: center;
}
.landing-page .footer h4 {
  text-align: center;
  /* color: rgba(3, 3, 3, 0.6); */
}
.landing-page .footer-content {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.landing-page .social-media {
  /* border: 1px solid white; */
  display: flex;
  justify-content: space-between;
  align-self: center;
  width: 18%;
  min-width: 170px;
}

.landing-page .social-media .icon {
  cursor: pointer;
  transition: 0.25s;
  width: 25%;
}
.landing-page .social-media .icon:hover {
  color: #1565c0;
}

.landing-page .contact {
  text-align: center;
}

.landing-page .contact div {
  font-size: 1.5rem;
  padding-bottom: 10px;
}

.landing-page .contact p {
  font-size: 1.1rem;
  padding: 2px;
}
/* .landing-page .footer div p {
  font-size: 1.3rem;
} */
.landing-page .footer a {
  color: white;
}

.landing-page .copyright {
  text-align: center;
  font-size: 0.9rem;
  padding: 20px 0 10px 0;
}

@media (min-width: 900px) {
  .landing-page .content .header .links {
    width: 55%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: -2%;
    width: 40%;
  }
  .landing-page .content .header .links a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 500;
  }
  .landing-page .content .header .links a:hover {
    text-decoration: underline;
  }
  .landing-page .content .header .links a {
    font-size: 2rem;
  }
  .landing-page .content .header .header-content h1 {
    font-size: 3.8rem;
  }
  .landing-page .content .header .header-content p {
    font-size: 2rem;
  }
  .landing-page .content .middle-content {
    /* margin-top: 5%; */
  }
  .landing-page .content .middle-content .carousel {
    margin-right: 0;
  }
  .landing-page .content .middle-content .carousel .left-button {
    border-top: 17px solid transparent;
    border-right: 30px solid rgba(3, 3, 3, 0.6);
    border-bottom: 17px solid transparent;
  }
  .landing-page .content .middle-content .carousel .right-button {
    border-top: 17px solid transparent;
    border-left: 30px solid rgba(3, 3, 3, 0.6);
    border-bottom: 17px solid transparent;
  }
  .landing-page .content .middle-content .quote-area {
    font-size: 1.8rem;
  }
  .landing-page .content .middle-content button {
    font-size: 1.6rem;
  }
  .landing-page .content .middle-content .carousel-img {
    height: 20%;
  }
  .landing-page .content .user-input .share {
    font-size: 1.6rem;
  }
}
.landing-page .top-content .header {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: rgba(3, 3, 3, 0.6);
  background-size: cover;
}
.landing-page .top-content .header h1 {
  padding-top: 3%;
}
.landing-page .top-content .header nav {
  width: 55%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.landing-page .top-content .header nav a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 500;
}
.landing-page .top-content .header nav a:hover {
  text-decoration: underline;
}
.landing-page .top-content .header nav a {
  color: rgba(3, 3, 3, 0.6);
}
.landing-page .container .profiles {
  display: flex;
  flex-direction: column;
  padding: 0 3%;
}
.landing-page .container .profiles .PM {
  padding-top: 3%;
  border-bottom: 4px solid white;
  padding-bottom: 3%;
}
.landing-page .container .profiles .PM .profile img {
  max-width: 230px;
  max-height: 200px;
  width: 20%;
  height: 25%;
}
.landing-page .container .profiles .PM #pm {
  float: right;
  border: 8px solid white;
  height: 30%;
  width: 20%;
}
.landing-page .container .profiles .PM h3 {
  padding-bottom: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
}
.landing-page .container .profiles .PM .bio-content .bio {
  display: flex;
  flex-direction: column;
  width: 50%;
  float: left;
}
.landing-page .container .profiles .PM .bio-content .bio p {
  width: 100%;
  float: left;
}
.landing-page .container .profiles .PM .bio-content .bio .icons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.landing-page .container .profiles .PM .bio-content .bio .icons img {
  padding: 0 3%;
}
.landing-page .container .profiles .UI {
  padding-top: 3%;
  padding-bottom: 3%;
  border-bottom: 4px solid white;
}
.landing-page .container .profiles .UI .profile img {
  max-width: 230px;
  max-height: 200px;
  width: 20%;
  height: 25%;
}
.landing-page .container .profiles .UI .profile #ui {
  float: left;
  border: 8px solid white;
}
.landing-page .container .profiles .UI .profile h3 {
  padding-bottom: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
}
.landing-page .container .profiles .UI .profile .bio-content .bio {
  display: flex;
  flex-direction: column;
  width: 50%;
  float: right;
}
.landing-page .container .profiles .UI .profile .bio-content .bio p {
  width: 100%;
  float: right;
}
.landing-page .container .profiles .UI .profile .bio-content .bio .icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.landing-page .container .profiles .UI .profile .bio-content .bio .icons img {
  padding: 0 3%;
}
.landing-page .container .profiles .FE {
  padding-top: 3%;
  padding-bottom: 3%;
  border-bottom: 4px solid white;
}
.landing-page .container .profiles .FE .profile img {
  max-width: 230px;
  max-height: 200px;
  width: 20%;
  height: 25%;
}
.landing-page .container .profiles .FE #fe {
  float: right;
  border: 8px solid white;
}
.landing-page .container .profiles .FE h3 {
  padding-bottom: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
}
.landing-page .container .profiles .FE .bio-content .bio {
  display: flex;
  flex-direction: column;
  width: 50%;
  float: left;
}
.landing-page .container .profiles .FE .bio-content .bio p {
  width: 100%;
  float: left;
}
.landing-page .container .profiles .FE .bio-content .bio .icons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.landing-page .container .profiles .FE .bio-content .bio .icons img {
  padding: 0 3%;
}
.landing-page .container .BE {
  padding-top: 3%;
  padding-bottom: 3%;
}
.landing-page .container .BE .profile img {
  max-width: 230px;
  max-height: 200px;
  width: 20%;
  height: 25%;
}
.landing-page .container .BE .profile #be {
  float: left;
  border: 8px solid white;
}
.landing-page .container .BE .profile h3 {
  padding-bottom: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
}
.landing-page .container .BE .profile .bio-content .bio {
  display: flex;
  flex-direction: column;
  width: 50%;
  float: right;
}
.landing-page .container .BE .profile .bio-content .bio p {
  width: 100%;
  float: right;
}
.landing-page .container .BE .profile .bio-content .bio .icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.landing-page .container .BE .profile .bio-content .bio .icons img {
  padding: 0 3%;
}
@media (min-width: 900px) {
  .landing-page body {
    max-width: 100%;
  }
  .landing-page .top-content .header nav {
    width: 40%;
  }
  .landing-page .top-content .header nav a {
    font-size: 2.6rem;
  }
}

@media (max-width: 800px) {
  .landing-page .content .header {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
