.rbc-calendar .rbc-event {
  color: #fff;
  font-family: 'Montserrat';
}

.rbc-event .rbc-event-label {
  width: 100%;
  padding: 0;
  /* border: 1px solid red; */
}

.rbc-event .rbc-event-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid red;
  height: 50%;
  justify-content: flex-end;
}
